<% if current_customer %>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>American Home Security Systems | My Account</title>
</head>
<body>

	<%= render 'layouts/header' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">Hello, <%= current_customer.first_name %></p>
			</div>
		</div>
	</section><!--  End Billboard  -->

	<%= render 'layouts/footer' %>

</body>
</html>

<% end %>