<!DOCTYPE html>
<html lang="en">
<head>
	<title>American Home Security Systems | Contact Us</title>
</head>
<body>

	<%= render 'layouts/header' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">Contact us anytime for questions, comments, or concerns.</p>
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section class="cta">
		<h3>Contact Us</h3>
		<p>Local phone number: (614) 737-3753</p>
		<p>Toll-free number: (800) 889-7470</p>
		<span class="cta_sep"></span>
	</section><!--  End cta  -->

	<%= render 'layouts/footer' %>

</body>
</html>