<!DOCTYPE html>
<html lang="en">
<head>
	<title>American Home Security Systems | Testimonials</title>
</head>
<body>

	<%= render 'layouts/header' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">See for yourself what others have to say about us.</p>
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>Testimonials</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p></p>
				<p class="author"></p>
			</div>
			<div class="t">
				<p></p>
				<p class="author"></p>
			</div>
			<div class="t">
				<p></p>
				<p class="author"></p>
			</div>
		</div>
		<div id="t_navigation"></div>
		<span class="sep_line sep_bottom"></span>

	</section><!--  End Testimonials  -->

	<%= render 'layouts/footer' %>

</body>
</html>